*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
/* color=#1f2937 ;
*/

body{
    background-color:#1f2937
}
.nav-list{
    background-color: #1f2937;
    display:flex;
    gap:30px;
    align-items: center;
    justify-content: right;
    padding-right:60px;
    font-size:20px;
    font-family: Copperplate, Papyrus, fantasy;;
    border-bottom-style: outset;
}
.nav-list li:first-child{
    position: relative;
    right:900px;
    font-size: 24px;
    font-weight: 800;
    color:rgba(252, 218, 167, 0.675);
   
    font-family: Brush Script MT, cursive;  Copperplate, Papyrus, fantasy;
}
span{
    font-family: Copperplate, Papyrus, fantasy; Brush Script MT, cursive;
    font-style: italic;
    color: rgb(161, 94, 58);
}
a:hover{
    color:rgb(161, 94, 58);
}
a{
    color:rgb(255, 255, 255);
    transition-property: all 200ms;

}
/* this is after the nav-bar*/

.top-half{
    background-color:#1f2937;
    height: 425px;
    width: auto;
    display: flex;
   justify-content: center;
   flex-direction: column;
   gap:60px;
   padding-left:35px;
   padding-top:0px;
   position: relative;
   left:295px;

}

.photo-two{
    height:250px;
    width: auto;
    border-style: none;
    border-color: black;
    object-fit: contain;
    position: relative;
    top:-310px;
    right:-1000px
}


h1{
    color: aliceblue;
    display: flex;
    align-content:center;
    font-family: sans-serif;
}
p{
    color: aliceblue;
    display: flex;
    align-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sign-up{
    padding: 8px 30px;
    background-color:rgba(241, 151, 102, 0.878) ;
    border-radius: 7px;
    position:relative;
    right:-330px;
    top: -70px;
    font-family:serif;
    font-weight: 800;
    font-size: 16px;
  
}
.sign-up:hover{
   background-color: rgb(39, 255, 219);
   cursor: pointer;
   transition: all 50ms;
   transition-timing-function: ease-in 50ms;
}
/*Start of the mid-body*/

h2{
    background-color: antiquewhite;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    font-family: sans-serif;
    color: #1f2937;;
    
}
.mid-photo-list{
    background-color:antiquewhite;
    display:flex;
    justify-content: center;
    gap:60px;
}
.mid-photo{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* start of quote*/

.par{
    background-color:rgb(189, 238, 222);
    color:black;
    font-size: 50px;
    display:flex;
    justify-content: center;
padding:60px
}
.mark{
    color: black;
    font-weight: bold;
}
/* after quote*/
h3{
    display:flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    position: relative;
    top:45px;
    left:-40px;
    color:black

}
.final-offer{
    justify-content: center;
    margin-top: 50px;
    margin-bottom:90px;
    color:black;
    position: relative;
    right:-560px;

}
.last{
    background-color: antiquewhite;
}
.but{
    height: 50px;
    width:90px;
    position: relative;
    top:-129px;
    right:-990px;
    border-radius: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.but:hover{
    cursor: pointer;
    background-color:rgb(161, 94, 58);
    transition: all 400ms;
}
.container2{
        width: 470px;
        border: 5px solid rgb(7, 214, 200);
        padding: 50px;
        margin: 20px;
        background-color: aquamarine;
        border-radius: 20px;
        position: relative;
        right:-500px;
        bottom: -160px;
        
}

.foot{
    margin:40px;
    justify-content: center;
}

.bad{
    margin-bottom: -200px;
}





